html {
    display: inline-block;
    height: 100%;
    text-align: center;
}

body {
    display: inline-block;
    height: inherit;
    margin: 0 0;
}

h1 {
    font-family: 'Allerta Stencil', sans-serif;
}

h2 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 14pt;
    color: lightgrey;
}

a {
    display: inline-block;
    margin: 10px;
}

#container-base {
    padding: 10px 0px 0px 0px;
    text-align: center;
}

#container-logo {
    display: inline-block;
    max-height: 500px;
}

#container-dev {
    display: inline-block;
}

#container-links {
    display: inline-block;
    width: 700px;
}

#container-music-links {
    display: inline-block;
    width: 400px;
}

#container-new-music {
    display: inline-block;
    border-bottom: solid;
    border-bottom-color: lightgrey;
}

#container-music-spacer {
    display: inline-block;
    width: 100px;
}

#container-legacy-music {
    display: inline-block;
}

#container-link-spacer {
    display: inline-block;
    width: 80px;
}

#container-social-links {
    display: inline-block;
    width: 200px;
    height: 67px;
}

.material-icons {
    display: inline-block;
}


#logo {
    max-height: inherit;
}

#banner-dev {
    display: inline-block;
}

#build-rtl {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

#music-icon-apple {
    height: 40px;
    pointer-events: none;
}

#music-icon-spotify {
    height: 40px;
    pointer-events: none;
}

#music-icon-google {
    height: 40px;
    pointer-events: none;
}

#addendum {
    padding-left: 250px;
    text-align: left;
}

#social-icon-facebook {
    height: 40px;
    pointer-events: none;
}

#social-icon-instagram {
    height: 40px;
    pointer-events: none;
}

#social-icon-twitter {
    height: 40px;
    pointer-events: none;
}